# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.Python

# Virtual environments
venv/
env/
.venv/
.env/

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packages
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints 
.ipynb_checkpoints/

# Models 
model/*.joblib
model/*.pkl

# Streamlit cache 
.streamlit/

# Docker 
*.dockerfile
docker-compose.override.yml
